openebs-crds:
  csi:
    volumeSnapshots:
      enabled: false
      keep: false

localpv-provisioner:
  localpv:
    enabled: false

lvm-localpv:
  crds:
    lvmLocalPv:
      enabled: false

zfs-localpv:
  crds:
    zfsLocalPv:
      enabled: true
    csi:
      volumeSnapshots:
        enabled: true

engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: true
    rawfile:
      enabled: false
  replicated:
    mayastor:
      enabled: false

mayastor:
  csi:
    node:
      initContainers:
        enabled: true
  etcd:
    clusterDomain: cluster.local
  localpv-provisioner:
    enabled: false

loki:
  enabled: false

alloy:
  enabled: false
