global:
  nameOverride: qbittorrent

defaultPodOptions: {}

controllers:
  main:
    enabled: true
    type: deployment
    replicas: 1
    pod:
      hostNetwork: true
    containers:
      qb:
        order: 1
        image:
          repository: superng6/qbittorrentee
          tag: 4.6.7.10
          pullPolicy: IfNotPresent
        env:
          TZ: Asia/Shanghai
          PUID: 0
          PGID: 0
          WEBUIPORT: 6780
          TORRENTINGPORT: 6723
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
  pbh:
    enabled: true
    type: deployment
    replicas: 1
    pod:
      hostNetwork: true
    containers:
      pbh:
        order: 1
        image:
          repository: ghostchu/peerbanhelper
          tag: v6.4.5
          pullPolicy: IfNotPresent
        env:
          TZ: Asia/Shanghai
          PUID: 0
          PGID: 0
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  main:
    enabled: true
    primary: true
    controller: main
    ports:
      http:
        enabled: true
        port: 6780
      con:
        enabled: true
        port: 6723
        protocol: TCP
      con-udp:
        enabled: true
        port: 6723
        protocol: UDP
  pbh:
    enabled: true
    controller: pbh
    ports:
      http:
        enabled: true
        port: 9898

ingress:
  main:
    enabled: true
    primary: true
    annotations:
      helm.sh/resource-policy: keep
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: ${DOMAIN}-letsencrypt-issuer
    className: "nginx"
    hosts:
      - host: qb.${DOMAIN}
        paths:
          - path: /
            pathType: Prefix
            service:
              name: qbittorrent
              port: 6780
    tls:
      - hosts:
          - qb.${DOMAIN}
        secretName: qb.${DOMAIN}-tls
  pbh:
    enabled: true
    annotations:
      helm.sh/resource-policy: keep
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: ${DOMAIN}-letsencrypt-issuer
    className: "nginx"
    hosts:
      - host: pbh.${DOMAIN}
        paths:
          - path: /
            pathType: Prefix
            service:
              name: pbh
              port: 9898
    tls:
      - hosts:
          - qb.${DOMAIN}
        secretName: qb.${DOMAIN}-tls

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 10Gi
    retain: true
    globalMounts: []
    advancedMounts:
      main: # the controller with the "main"
        qb:
          - path: /config
            readOnly: false

  pbh:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 10Gi
    retain: true
    globalMounts: []
    advancedMounts:
      pbh:
        pbh:
          - path: /app/data
            readOnly: false

  # downloads:
  #   enabled: true
  #   type: hostPath
  #   hostPath: /mnt/downloads
  #   advancedMounts:
  #     main:
  #       qb:
  #       - path: /downloads
  #         readOnly: false
