image:
  repository: jutze/nextcloud
  tag: 32.0.3-fpm

replicaCount: 1

ingress:
  enabled: true
  className: nginx
  annotations:
    helm.sh/resource-policy: keep
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-body-size: 32G
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "15"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    kubernetes.io/tls-acme: "true"
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "${DOMAIN}-letsencrypt-issuer"
  tls:
    - secretName: nextcloud-tls
      hosts:
        - pan.${DOMAIN}
        - "*.pan.${DOMAIN}"

nextcloud:
  host: pan.${DOMAIN}
  existingSecret:
    enabled: true
    secretName: nextcloud
    usernameKey: nextcloud-username
    passwordKey: nextcloud-password
  mail:
    enabled: false
  phpConfigs:
    opcache-recommended.ini: |-
      [opcache]
      opcache.enable=1
      opcache.interned_strings_buffer=64
      opcache.max_accelerated_files=20000
      opcache.memory_consumption=512
      opcache.save_comments=1
      opcache.revalidate_freq=60
    nextcloud.ini: |-
      memory_limit=8G
      upload_max_filesize=32G
      post_max_size=32G
    www.conf: |-
      [www]
      user = www-data
      group = www-data
      listen = 127.0.0.1:9000
      pm = dynamic
      pm.max_children = 64
      pm.start_servers = 4
      pm.min_spare_servers = 4
      pm.max_spare_servers = 8
  defaultConfigs:
    .htaccess: true
    redis.config.php: false
    apache-pretty-urls.config.php: false
    apcu.config.php: false
    apps.config.php: true
    autoconfig.php: false
    smtp.config.php: true
  update: 0
  datadir: /data
  configs:
    custom.config.php: |-
      <?php
      $CONFIG = array (
        'enabledPreviewProviders' => [
              'OC\Preview\PNG',
              'OC\Preview\JPEG',
              'OC\Preview\GIF',
              'OC\Preview\BMP',
              'OC\Preview\XBitmap',
              'OC\Preview\MP3',
              'OC\Preview\Krita',
              'OC\Preview\HEIC',
              'OC\Preview\Movie',
              'OC\Preview\MKV',
              'OC\Preview\MP4',
              'OC\Preview\AVI',
              'OC\Preview\SVG',
              'OC\Preview\Image',
              'OC\Preview\Photoshop',
          ],
        'preview_max_x' => 2048,
        'preview_max_y' => 2048,
        'preview_max_scale_factor' => 2,
        'preview_max_filesize_image' => 100,
        'default_language' => 'zh_CN',
        'default_locale' => 'zh',
        'default_phone_region' => 'CN',
        'connectivity_check_domains' => array (
          0 => 'www.baidu.com',
        ),
        'trusted_proxies' => array (
          0 => '127.0.0.1',
        ),
        "loglevel" => 2,
        'maintenance_window_start' => 1,
        'skeletondirectory' => '',
        'templatedirectory' => '',
        'trashbin_retention_obligation' => 'auto, 7',
        'versions_retention_obligation' => 'auto, 7',
        'overwrite.cli.url' => 'https://pan.${DOMAIN}'
      );
    redis.config.php: |-
      <?php
      $CONFIG = array (
        'memcache.local' => '\\OC\\Memcache\\APCu',
        'memcache.distributed' => '\\OC\\Memcache\\Redis',
        'memcache.locking' => '\\OC\\Memcache\\Redis',
        'redis' => array(
          'host' => getenv('REDIS_HOST'),
          'port' => getenv('REDIS_HOST_PORT') ?: 6379,
          'password' => getenv('REDIS_HOST_PASSWORD'),
        ),
      );

  hooks: {}

  podSecurityContext:
    fsGroup: 33
    fsGroupChangePolicy: OnRootMismatch

  extraEnv:
    - name: REDIS_HOST
      value: redis-headless
    - name: REDIS_HOST_PORT
      value: "6379"
    - name: REDIS_HOST_PASSWORD
      valueFrom:
        secretKeyRef:
          name: redis
          key: redis-password

  extraVolumes:
    - name: cron
      configMap:
        defaultMode: 420
        name: busybox-cron
    - name: nginx-root-config
      configMap:
        defaultMode: 420
        name: nginx-root-config
    ## 添加重要数据，此pvc会进行异地备份，数据更安全。默认设置所有团队文件夹。
    - name: important
      persistentVolumeClaim:
        claimName: nextcloud-important-data

  extraVolumeMounts:
    - name: cron
      mountPath: /var/spool/cron/crontabs/www-data
      subPath: www-data
    - name: nginx-root-config
      mountPath: /etc/nginx/nginx.conf
      subPath: nginx.conf
    ## fix PR71 https://github.com/nextcloud/helm/pull/71,  remove after PR revert or fix
    - name: nextcloud-phpconfig
      mountPath: /usr/local/etc/php/conf.d/nextcloud.ini
      subPath: nextcloud.ini
    - name: nextcloud-phpconfig
      mountPath: /usr/local/etc/php/conf.d/opcache-recommended.ini
      subPath: opcache-recommended.ini
    ## 添加重要数据挂载
    - name: important
      mountPath: /important
    - name: important
      mountPath: /data/__groupfolders/
      subPath: __groupfolders

nginx:
  enabled: true
  image:
    repository: nginx
    tag: alpine
    pullPolicy: IfNotPresent
  config:
    default: true
    headers:
      "Strict-Transport-Security": "max-age=15768000; includeSubDomains; preload;"
      "Referrer-Policy": "no-referrer"
      "X-Content-Type-Options": "nosniff"
      "X-Download-Options": "noopen"
      "X-Frame-Options": "SAMEORIGIN"
      "X-Permitted-Cross-Domain-Policies": "none"
      "X-Robots-Tag": "noindex, nofollow"
      "X-XSS-Protection": "1; mode=block"

    serverBlockCustom: |
      # set max upload size
      client_max_body_size 32G;
      client_body_timeout 300s;
      fastcgi_buffers 64 4K;
      fastcgi_read_timeout 3600s;
      proxy_buffering off;
      proxy_request_buffering off;
      set_real_ip_from 10.0.0.0/8;
      set_real_ip_from 192.168.0.0/16;
      set_real_ip_from 172.16.0.0/12;
      real_ip_header X-Forwarded-For;
      real_ip_recursive on;

internalDatabase:
  enabled: false

externalDatabase:
  enabled: true
  type: postgresql
  host: postgresql-hl
  database: nextcloud
  existingSecret:
    enabled: true
    secretName: postgresql
    usernameKey: username
    passwordKey: postgres-password

mariadb:
  enabled: false

postgresql:
  enabled: false

redis:
  enabled: false

cronjob:
  enabled: false

persistence:
  enabled: true
  annotations:
    helm.sh/resource-policy: keep
  storageClass: "${DEFAULT_SHARED_CACHEFS_STORAGE_CLASS}" # nextcloud会将网页资源放在共享存储中，且访问特别频繁，为了加速访问，使用cachefs
  accessMode: ReadWriteMany
  size: 50Gi

  nextcloudData:
    enabled: true
    subPath:
    annotations:
      helm.sh/resource-policy: keep
    storageClass: "${DEFAULT_LARGE_STORAGE_CLASS}"
    accessMode: ReadWriteMany
    size: 20Ti

livenessProbe:
  enabled: false
  initialDelaySeconds: 60
  periodSeconds: 120
  timeoutSeconds: 5
  failureThreshold: 2
  successThreshold: 1
readinessProbe:
  enabled: false
  initialDelaySeconds: 10
  periodSeconds: 60
  timeoutSeconds: 5
  failureThreshold: 1
  successThreshold: 1
startupProbe:
  enabled: false
